<div class="wy-slider" #slider [class.wy-slider-vertical]="wyVertical">
  <!-- <div class="wy-slider-rail"></div> -->
   <!-- 缓冲条 -->
   <app-wy-slider-track
    [wyVertical]="wyVertical"
    [wyLength]="bufferOffset"
    [wyBuffer]="true">
  </app-wy-slider-track>

  <!-- 色条 -->
   <app-wy-slider-track
    [wyVertical]="wyVertical"
    [wyLength]="offset">
  </app-wy-slider-track>

   <!-- 滑块 -->

  <app-wy-slider-handle
    [wyVertical]="wyVertical"
    [wyOffset]="offset">
  </app-wy-slider-handle>
</div>
