<div class="m-layer"
[@showHide]="showModal"
[ngClass]="modalAnimationClassMap"
#modalContainer
cdkDrag
(cdkDragMoved)="onDragMove($event)">
    <div class="zbar">
      <div class="zttl f-thide">登录</div>
    </div>
    <ng-container #bodyContainer>
      <ng-container *ngIf="!isComponent(nzContent)" [ngSwitch]="true">
          <ng-container *ngSwitchCase="isTemplateRef(nzContent)" [ngTemplateOutlet]="nzContent"></ng-container>
          <ng-container *ngSwitchDefault>
            <div class="cnzt">
                <div class="select-log">
                  <div class="mid-wrap">
                    <div class="pic">
                      <img src="../assets/images/platform.png" />
                    </div>
                    <div class="methods">
                      <button nz-button nzType="primary" nzSize="large" nzBlock>手机号登陆</button>
                      <button nz-button nzType="primary" nzSize="large" nzBlock>网易邮箱登陆</button>
                      <button nz-button nzSize="large" nzBlock>注册</button>
                    </div>
                  </div>
                </div>
              </div>
          </ng-container>
        </ng-container>
    </ng-container>
    
    

    <div class="zcls" title="关闭弹窗" (mousedown)="hide()"></div>
  </div>
 