<div class="m-layer"
 #modalContainer
 [@showHide]="showModal"
 cdkDrag
 cdkDragBoundary=".cdk-overlay-container">
  <div class="zbar" cdkDragHandle>
    <div class="zttl f-thide">{{modalTitle[currentModalType]}}</div>
  </div>
  <ng-container [ngSwitch]="currentModalType">
      <ng-container *ngSwitchCase="'loginByPhone'">
        <ng-content select="[name=login]"></ng-content>
      </ng-container>
      <ng-container *ngSwitchCase="'register'">
        <ng-content select="[name=register]"></ng-content>
      </ng-container>
      <ng-container *ngSwitchCase="'like'">
        <ng-content select="[name=like]"></ng-content>
      </ng-container>
      <ng-container *ngSwitchCase="'share'">
        <ng-content select="[name=share]"></ng-content>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <ng-content></ng-content>
      </ng-container>
    </ng-container>
  <div class="zcls" title="关闭" (click)="hide()"></div>
  <nz-spin nzTip="loading..." class="spin" *ngIf="showSpin"></nz-spin>
</div>