<div class="search-panel">
  <div class="list-wrap">

    <div class="list-item clearfix" [hidden]="!searchResult?.songs">
      <div class="hd">
        <i class="ico ico-song"></i>
        <span>单曲</span>
      </div>
      <ul>
        <li class="ellipsis" *ngFor="let item of searchResult?.songs" (click)="toInfo(['/songInfo', item.id])" [innerHTML]="item.name"></li>
      </ul>
    </div>


    <div class="list-item clearfix" [hidden]="!searchResult?.artists">
      <div class="hd">
        <i class="ico ico-singer"></i>
        <span>歌手</span>
      </div>
      <ul>
        <li class="ellipsis" *ngFor="let item of searchResult?.artists" (click)="toInfo(['/singer', item.id])" [innerHTML]="item.name"></li>
      </ul>
    </div>


    <div class="list-item clearfix" [hidden]="!searchResult?.playlists">
      <div class="hd">
        <i class="ico ico-sheet"></i>
        <span>歌单</span>
      </div>
      <ul>
        <li class="ellipsis" *ngFor="let item of searchResult?.playlists" (click)="toInfo(['/sheetInfo', item.id])" [innerHTML]="item.name"></li>
      </ul>
    </div>
  </div>
</div>