<div class="check-code">
  <div class="js-mobwrap">
    <p class="s-fc3">
      你的手机号：
      <strong class="s-fc1">
        <span class="js-mob">159****6315</span>
      </strong>
    </p>
    <p class="s-fc4">为了安全，我们会给你发送短信验证码</p>
  </div>

  <div class="form">
    <form nz-form nzLayout="vertical" [formGroup]="formModel" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control>
          <app-code (onInput)="onInput($event)" formControlName="code"></app-code>
          <div class="send clearfix">
            <span class="err" [hidden]="!errorTip">{{errorTip}}</span>
            <span class="txt" *ngIf="!showRepeatBtn else repeatBtn">{{timing}}s</span>
            <ng-template #repeatBtn>
              <span class="txt repeat" (click)="onRepeatSendCode.emit()">重新发送</span>
            </ng-template>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button [disabled]="!formModel.valid" [nzType]="'primary'" nzBlock>下一步</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>