<div class="share">
  <div class="u-txtwrap">
    <form nz-form [formGroup]="formModel">
      <nz-form-item>
        <nz-form-control nzErrorTip="不能超过140个字">
          <textarea nz-input rows="6" formControlName="msg"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div class="info">
      <div class="text">
        <p class="f-thide ellipsis">{{shareInfo?.txt}}</p>
      </div>
    </div>
  </div>

  <div class="tools clearfix">
    <span class="txt-count" [class.exceed]="surplusMsgCount < 0">{{surplusMsgCount}}</span>
    <div class="btns">
      <button nz-button (click)="onCancel.emit()">取消</button>
      <button nz-button nzType="primary" [disabled]="!formModel.valid" (click)="onSubmit()">分享</button>
    </div>
  </div>
</div>