<div id="app">
  <nz-progress *ngIf="loadPercent < 100" [nzStrokeWidth]="5" [nzShowInfo]="false" [nzPercent]="loadPercent" nzStatus="active"></nz-progress>
  <nz-layout class="layout">
    <nz-header class="header">
      <div class="wrap">
        <div class="left">
          <h1>Music</h1>
          <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'">
            <!-- nzSelected -->
            <li nz-menu-item [nzSelected]="routeTitle === item.title" *ngFor="let item of menu" [routerLink]="item.path">{{item.title}}</li>
          </ul>
        </div>
        <div class="right">
          <div class="search">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input placeholder="input search text" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon type="search"></i>
            </ng-template>
          </div>
          <div class="member">
            <div class="no-login" *ngIf="!user else logined">
              <ul nz-menu nzMode="horizontal" nzTheme="dark">
                <li nz-submenu>
                  <div title>
                    <span>登陆</span>
                    <i nz-icon nzType="down" nzTheme="outline"></i>
                  </div>
                  <ul>
                    <li nz-menu-item (click)="openModal('LoginByPhone')">
                      <i nz-icon nzType="mobile" nzTheme="outline"></i>
                      手机登陆
                    </li>
                    <li nz-menu-item (click)="openModal('Register')">
                      <i nz-icon nzType="user-add" nzTheme="outline"></i>
                      注册
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <ng-template #logined>
              <div class="login" *ngIf="user">
                <ul nz-menu nzMode="horizontal" nzTheme="dark">
                  <li nz-submenu>
                    <div title>
                      <nz-avatar nzIcon="user" [nzSrc]="user.profile.avatarUrl"></nz-avatar>
                      <i nz-icon nzType="down" nzTheme="outline"></i>
                    </div>
                    <ul>
                      <li nz-menu-item [routerLink]="['/userCenter', user.profile.userId]">
                        <i nz-icon nzType="user" nzTheme="outline"></i>
                        我的主页
                      </li>
                      <li nz-menu-item>
                        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                        退出
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content class="content"><router-outlet></router-outlet></nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>
  </nz-layout>
</div>
<app-wy-player></app-wy-player>

<app-wy-layer-modal [currentModal]="currentModal" [showSpin]="showSpin">
  <app-wy-login-phone name="login" [wyUserLogin]="wyUserLogin" (onLogin)="onLogin($event)"></app-wy-login-phone>
  <app-wy-layer-register name="register"></app-wy-layer-register>
</app-wy-layer-modal>