@import '../assets/styles/varibles';
@import '../assets/styles/mixins';
#app .layout{
  .header {
    .wrap{
      display: flex;
      justify-content: space-between;
      width: 1100px;
      .left{
        display: flex;
        h1{
          width: 157px;
          color: @border-color-base;
          font-size: @font-size-lgx;
          margin-bottom: 0;
          margin-right: 20px;
          text-align: center;
        }
        ul{
          height:64px;
          line-height:64px;
        }
      }
      .right{
        display: flex;
        .search{
          margin-right: 15px;
        }
        .member{
          display: flex;
          align-items: center;
          color: @white-color;
          .no-login{
            
          }

          .login{

          }
          
          /* .menu{
            width: 158px;
            background: #2b2b2b;
            border: 1px solid #202020;
            box-shadow: 0 8px 24px 0 rgba(0,0,0,0.50);
            border-radius: 4px;
            .menu-item{
              height: 38px;
              line-height: 38px;
              color: #ccc;
              .ic{
                .icon('../images/toplist.png', 18px, 18px);
              }
            }
          } */
        }
      }
    }
  }
  .content{
    background-color: @body-color;
  }
}


:host ::ng-deep .ant-back-top {
  bottom: 80px;
}