<div class="sheet wrap">
  <div class="list-r">
    <div class="top">
      <div class="cat">
        <span>{{listParams.cat}}</span>
        <!-- <a nz-dropdown [nzDropdownMenu]="menu">Hover me</a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>1st menu item</li>
            <li nz-menu-item>2nd menu item</li>
            <li nz-menu-item>3rd menu item</li>
          </ul>
        </nz-dropdown-menu> -->
      </div>
      <nz-radio-group [(ngModel)]="radioValue" [nzButtonStyle]="'solid'" (ngModelChange)="orderChange($event)">
        <label nz-radio-button nzValue="hot">热门</label>
        <label nz-radio-button nzValue="new">最新</label>
      </nz-radio-group>
    </div>

    <div class="list">
      <app-single-sheet
        class="sheet-item"
        *ngFor="let item of playlistInfo?.playlists;trackBy: trackBySongList"
        [sheet]="item"
        (onPlay)="playSong($event)"
        (click)="toInfo(item.id)">
      </app-single-sheet>
    </div>
    <nz-pagination
    class="pagination"
    [nzPageSize]="listParams.limit"
    [nzPageIndex]="listParams.offset"
    [nzTotal]="playlistInfo?.total"
    (nzPageIndexChange)="onPageChange($event)"></nz-pagination>
  </div>
</div>