<div class="check-code">
  <div class="js-mobwrap">
    <p class="s-fc3">
      你的手机号：
      <strong class="s-fc1">
        <span class="js-mob">{{phone}}</span>
      </strong>
    </p>
    <p class="s-fc4">为了安全，我们会给您发送短信验证码</p>
  </div>

  <div class="form">
    <form nz-form nzLayout="vertical" [formGroup]="formModel" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-control>
          <app-wy-code formControlName="code"></app-wy-code>
          <div class="send clearfix">
            <span class="err" [hidden]="!showErrorTip">验证码不正确</span>
            <span class="txt" *ngIf="!showRepeatBtn else repeatBtn">{{timing}}s</span>
            <ng-template #repeatBtn>
              <span class="txt repeat" (click)="onReatSendCode.emit()">重新发送</span>
            </ng-template>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" nzBlock>下一步</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>