<div class="home">
  <wy-carousel #wyCarousel [activeIndex]="carouselActiveIndex" (changeSlide)="onChangeSlide($event)">
    <nz-carousel nzAutoPlay [nzEffect]="'fade'" [nzDotRender]="wyCarousel.dotRef" (nzBeforeChange)="nzBeforeChange($event)">
      <div class="carousel-item" nz-carousel-content *ngFor="let item of banners">
        <a [href]="item.url" target="_blank" class="banner-item">
          <img [src]="item.imageUrl" appImgDefault />
        </a>
      </div>
    </nz-carousel>
  </wy-carousel>

  <div class="main">
    <div class="wrap">
      <div class="left">
        <section class="sec">
          <div class="up">
            <div class="navs">
              <h2>
                <i></i>
                <a routerLink="/sheet">热门推荐</a>
              </h2>
              <nav>
                <a routerLink="/sheet" [queryParams]="{cat: item.name}" *ngFor="let item of hotTags">{{item.name}}</a>
              </nav>
            </div>
            <a routerLink="/sheet">
              更多
              <i nz-icon type="arrow-right" theme="outline"></i>
            </a>
          </div>

          <div class="down">
            <div class="down-wrap">
              <app-single-sheet
                class="sheet-item"
                *ngFor="let item of songSheetList"
                [sheet]="item"
                (onPlay)="playSheet($event)"
                (click)="toInfo(item.id)">
              </app-single-sheet>
            </div>
          </div>
        </section>
      </div>

      <aside class="right">
        <app-member-card [user]="user" (openModal)="openModal()"></app-member-card>

        <div class="settled-singer">
          <div class="tit">
            <b>入驻歌手</b>
            <span>
              查看全部
              <i nz-icon nzType="right" nzTheme="outline"></i>
            </span>
          </div>

          <div class="list">
            <div class="card" *ngFor="let item of singers" [routerLink]="[ '/singer', item.id ]">
              <div class="pic">
                <img appImgDefault class="full-height" [src]="item.img1v1Url" [alt]="item.name" />
              </div>
              <div class="txt">
                <b class="ellipsis">{{item.name}}</b>
                <span class="ellipsis">
                  专辑数：{{item.albumSize}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
