<div class="home">
  <wy-carousel #wyCarousel [activeIndex]="carouselActiveIndex" [bgColor]="bannerBg" (changeSlide)="onChangeSlide($event)">
    <nz-carousel nzAutoPlay [nzEffect]="'fade'" [nzDotRender]="wyCarousel.dotRef" (nzBeforeChange)="nzBeforeChange($event)">
      <div class="carousel-item" nz-carousel-content *ngFor="let item of banners; trackBy: trackByBanners">
        <a [href]="item.url" target="_blank" class="banner-item">
          <img [src]="item.imageUrl" />
        </a>
      </div>
    </nz-carousel>
  </wy-carousel>

  <div class="main">
    <div class="wrap">
      <div class="left">
        <section class="sec">
          <div class="up">
            <div class="navs">
              <h2>
                <i></i>
                <a href="#">热门推荐</a>
              </h2>
              <nav>
                <a href="/html/" *ngFor="let item of hotTags;trackBy: trackByHotTags">{{item.name}}</a>
              </nav>
            </div>
            <a href="#">
              更多
              <i nz-icon type="arrow-right" theme="outline"></i>
            </a>
          </div>

          <div class="down">
            <div class="down-wrap">
              <app-single-sheet
                class="sheet-item"
                *ngFor="let item of songSheetList;trackBy: trackBySongList"
                [sheet]="item"
                (onPlay)="playSong($event)">
              </app-single-sheet>
            </div>
          </div>
        </section>
      </div>

      <aside class="right">
        <div class="member">
          <div class="login">
            <p>登录网易云音乐，登录网易云音乐，登录网易云音乐，登录网易云音乐</p>
            <button nz-button class="btn">用户登录</button>
          </div>
        </div>

        <div class="settled-singer">
          <div class="tit">
            <b>入驻歌手</b>
            <span>
              查看全部
              <i nz-icon nzType="right" nzTheme="outline"></i>
            </span>
          </div>

          <div class="list">
              <div class="card" *ngFor="let item of arr">
                <div class="pic">
                  <img src="../../../assets/images/temp/singer.jpg" alt="" />
                </div>
                <div class="txt">
                  <b class="ellipsis">麦口杰克逊</b>
                  <span class="ellipsis">dasdasdasdada</span>
                </div>
              </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
