<div class="sheet wrap feature-wrap">
  <div class="list-r">
    <div class="top">
      <div class="cat">
        <span>{{listParams.cat}}</span>
      </div>
      <nz-radio-group nzButtonStyle="solid" [(ngModel)]="orderValue" (ngModelChange)="onOrderChange($event)">
        <label nz-radio-button nzValue="hot">热门</label>
        <label nz-radio-button nzValue="new">最新</label>
      </nz-radio-group>
    </div>

    <div class="list">
      <app-single-sheet
        class="sheet-item"
        *ngFor="let item of sheets?.playlists"
        [sheet]="item"
        (onPlay)="onPlaySheet($event)"
        (click)="toInfo(item.id)">
      </app-single-sheet>
    </div>

    <nz-pagination
      class="pagination"
      [nzPageSize]="listParams.limit"
      [nzPageIndex]="listParams.offset"
      [nzTotal]="sheets?.total"
      (nzPageIndexChange)="onPageChange($event)">
    </nz-pagination>
  </div>
</div>