<div class="play-panel">
  <div class="hd">
    <div class="hdc">
      <h4>播放列表(<span>{{songList.length}}</span>)</h4>
      <div class="add-all">
        <i class="icon" title="收藏全部"></i>
        收藏全部
      </div>
      <span class="line"></span>
      <div class="clear-all">
        <i class="icon trush" title="清除"></i>
        清除
      </div>
      <p class="playing-name">{{currentSong.name}}</p>
      <i class="icon close" (click)="onClose.emit()">关闭</i>
    </div>
  </div>

  <div class="bd">
    <img class="imgbg" src="//music.163.com/api/img/blur/109951163826278397" />
    <div class="msk"></div>
    <div class="list-wrap" [perfectScrollbar]="config">
      <ul>
        <li *ngFor="let item of songList; index as i" [class.current]="currentIndex === i" (click)="onChangeSong.emit(item)">
          <i class="col arrow"></i>
          <div class="col name">{{item.name}}</div>
          <div class="col icons">
            <i class="ico like" title="收藏"></i>
            <i class="ico share" title="分享"></i>
            <i class="ico trush" title="删除"></i>
          </div>
          <a class="col singer">{{item.ar[0].name}}</a>
          <div class="col duration">{{(item.dt / 1000) | FormatTime}}</div>
          <div class="col link"></div>
        </li>
      </ul>

      <!-- <ul>
        <li *ngFor="let item of arr; index as i">
          <i class="col arrow"></i>
          <div class="col name">tttttttttttt</div>
          <div class="col icons">
            <i class="ico like" title="收藏"></i>
            <i class="ico share" title="分享"></i>
            <i class="ico trush" title="删除"></i>
          </div>
          <a class="col singer">麦口而杰克逊</a>
          <div class="col duration">05:44</div>
          <div class="col link"></div>
        </li>
      </ul> -->
    </div>
  </div>
</div>