<div class="user-center wrap feature-wrap">
  <div class="page-wrap">
    <div class="m-proifo clearfix">
      <div class="f-pr">
        <img src="http://p1.music.126.net/WRj2C4DnsWkn_5nayBkaCw==/109951164269052628.jpg?param=180y180">
      </div>
      <div class="f-r">
        <div class="name">
          <h2 class="clearfix">
            <span class="tit ellipsis">Madao20222</span>
            <p class="lv">
              <span class="u-lv u-icn2">
                3<i class="lvright u-icn2"></i>
              </span>
            </p>
            <div class="icn-gender"></div>
          </h2>
        </div>

        <ul class="dny clearfix">
          <li class="fst">
            <strong class="ellipsis">222</strong>
            <span>动态</span>
          </li>
          <li>
            <strong class="ellipsis">222</strong>
            <span>关注</span>
          </li>
          <li class="lst">
            <strong class="ellipsis">222</strong>
            <span>粉丝</span>
          </li>
        </ul>

        <div class="inf f-brk">
          个人介绍：个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介
        </div>
      </div>
    </div>
  </div>
  
</div>