.wrap{
  width: 980px;
  margin: 0 auto;
}

img{
  display: inline-block;
  width: 100%;
}

a{
  color: inherit;
  &:hover{
    color: inherit;
    text-decoration: underline;
  }
}

.pagination a:hover{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  margin-bottom: 0;
}

.none{
  display: none;
}


.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}