<div class="like">
  <div class="sheet-list" *ngIf="!creating; else elseBlock">
    <div class="header" (click)="creating = true">
      <i nz-icon nzType="folder-add" nzTheme="outline"></i>
      <span>新歌单</span>
    </div>
    <nz-list [nzDataSource]="mySheets" [nzRenderItem]="item" nzItemLayout="horizontal">
      <ng-template #item let-item>
        <nz-list-item class="list-item" (click)="onLike(item.id)">
          <nz-list-item-meta
            [nzTitle]="nzTitle"
            [nzDescription]="item.tracks?.length || 0 + '首'"
            [nzAvatar]="item.coverImgUrl">
            <ng-template #nzTitle>
              <span>{{ item.name }}</span>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>

  <ng-template #elseBlock>
    <div class="create-sheet">
      <form nz-form (ngSubmit)="onSubmit()" #sheetForm="ngForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="5">歌单名：</nz-form-label>
          <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Input is required">
            <input nz-input placeholder="歌单名" [(ngModel)]="sheetName" name="required" required />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <div class="btns">
            <button nz-button nzType="primary" class="create-btn" [disabled]="!sheetForm.valid">新建</button>
            <button nz-button (click)="creating = false">返回</button>
          </div>
        </nz-form-item>
      </form>
    </div>
  </ng-template>
</div>