<div class="like">
  <div class="sheet-list">
    <div class="header">
      <i nz-icon nzType="folder-add" nzTheme="outline"></i>
      <span>新建歌单</span>
    </div>
    <nz-list [nzDataSource]="mySheets" [nzRenderItem]="itemTpl">
      <ng-template #itemTpl let-item>
        <nz-list-item class="list-item" (click)="onLike(item.id.toString())">
          <nz-list-item-meta
          [nzTitle]="nzTitle"
          [nzDescription]="item.trackCount"
          [nzAvatar]="item.coverImgUrl">
          <ng-template #nzTitle>
            <span>{{item.name}}</span>
          </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
</div>