<div class="sheet-info wrap">
  <div class="g-wrap6">
    <div class="m-info">
      <div class="cover">
        <img src="http://p4.music.126.net/Sl8jtD9i1uhryO6aRs2ieg==/109951164177387171.jpg?param=200y200" />
        <div class="mask"></div>
      </div>
      <div class="cnt">
        <div class="cntc">
          <div class="hd clearfix">
            <i class="f-pr"></i>
            <div class="tit">
              <h2 class="f-ff2 f-brk">这个暑假我想要零食配电影，你呢？</h2>
            </div>
          </div>

          <div class="user f-cb">
            <a class="face" href="/user/home?id=450639585">
              <img src="http://p1.music.126.net/xdeJm_BJsVcqdhYIGjdtgA==/109951163755481507.jpg?param=40y40">
            </a>
            <span class="name"><a href="/user/home?id=450639585" class="s-fc7">四季里的懒睡猫</a></span>
            <sup class="u-icn u-icn-84 "></sup>
            <span class="time s-fc4">2019-06-21&nbsp;创建</span>
          </div>

          <div class="btns">
            <nz-button-group class="btn">
              <button nz-button nzType="primary" class="play">
                <i nz-icon nzType="play-circle" nzTheme="outline"></i>播放
              </button>
              <button nz-button nzType="primary" class="add">+</button>
            </nz-button-group>
            <button nz-button class="btn like">
              <span>收藏</span>(1475)
            </button>
            <button nz-button class="btn share">
              <span>分享</span>(1475)
            </button>
            <button nz-button class="btn download">下载</button>
            <button nz-button class="comment">
              <span>评论</span>(1475)
            </button>
          </div>

          <div class="tags clearfix">
            <span>标签</span>
            <div class="tag-wrap">
              <nz-tag>流行</nz-tag>
              <nz-tag>流行</nz-tag>
              <nz-tag>流行</nz-tag>
            </div>
          </div>

          <p class="intr f-brk">
            <b>介绍：</b>
            相信吧，这个夏天会给你惊喜<br>
            <br>
            我想要的是夏天傍晚脸庞的清风<br>
            我想要的是夏天那缓缓流逝的时光<br>
            我想要的是夏天和朋友畅谈的人生<br>
            我想要的是夏天与喜欢的人一起散步<br>
            我想要的是夏天与老同学一起怀旧从前<br>
            我想...
          </p>
          <p class="intr f-brk f-hide"><b>介绍：</b>
            相信吧，这个夏天会给你惊喜<br>
            <br>
            我想要的是夏天傍晚脸庞的清风<br>
            我想要的是夏天那缓缓流逝的时光<br>
            我想要的是夏天和朋友畅谈的人生<br>
            我想要的是夏天与喜欢的人一起散步<br>
            我想要的是夏天与老同学一起怀旧从前<br>
            我想要的是夏天有零食和电影 与你一起<br>
            你呢？<br>
            <br>
            我希望 这个夏天一切关于你与我期待与想要的事<br>
            都将如约而至<br>
            <br>
            夏天 真是能让人怀念的日子呢<br>
            <br>
            这个夏天 你 想要什么？<br>
            <br>
            2019年6月21日傍晚<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>