<div class="m-player">
  <div class="lock">
    <div class="left"><i></i></div>
  </div>
  <div class="hand"></div>
  <div class="container">
    <div class="wrap">
      <div class="btns">
        <i class="prev"></i>
        <i class="toggle"></i>
        <i class="next"></i>
      </div>
      <div class="head">
        <img [src]="picUrl" />
        <i class="mask"></i>
      </div>
      <div class="play">
        <div class="words clearfix">
          <p class="ellipsis margin-bottom-none">{{currentSong?.name}}</p>
          <ul class="songs clearfix margin-bottom-none">
            <li *ngFor="let item of currentSong?.ar; last as isLast">
              <a>{{item.name}}</a>
              <span [hidden]="isLast">/</span>
            </li>
          </ul>
        </div>
        <div class="bar">
          <div class="slider-wrap">
            <app-wy-slider [bufferOffset]="bufferOffset" [(ngModel)]="sliderValue"></app-wy-slider>
          </div>
          <span class="time">
            <em>{{currentTime | formatTime}}</em> / {{duration | formatTime}}
          </span>
        </div>
      </div>

      <div class="oper">
        <i class="like" title="收藏"></i>
        <i class="share" title="分享"></i>
      </div>
      <div class="ctrl">
        <i class="volume" title="音量"></i>
        <i class="loop" title="循环"></i>
        <p class="open">
          <span></span>
        </p>

        <div class="control-vol">
          <app-wy-slider [wyVertical]="true"></app-wy-slider>
        </div>
      </div>
    </div>
  </div>



  <audio
    #audio
    [src]="currentSong?.url"
    (canplay)="onCanplay()"
    (timeupdate)="onTimeUpdate($event)"
  >
  </audio>
</div>